albumentations
certifi
charset-normalizer
cvlib
idna
imageio
imutils
joblib
networkx
numpy
opencv-python
opencv-python-headless
packaging
Pillow
playsound
progressbar
pyserial
PyWavelets
PyYAML
qudida
requests
scikit-image
scikit-learn
scipy
threadpoolctl
tifffile
torch
typing-extensions
urllib3
